<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinanmuseum.mapper.BookingGuestMapper">

    <select id="selectByBookingId" resultType="com.jinanmuseum.entity.BookingGuest">
        SELECT * FROM booking_guest WHERE booking_id = #{bookingId}
    </select>

    <select id="selectByDateAndIdCard" resultType="com.jinanmuseum.entity.BookingGuest">
        SELECT * FROM booking_guest 
        WHERE visit_date = #{date} AND id_card = #{idCard}
    </select>

</mapper>